*{
    margin:0;padding:0;
}
body
{
    background-image:radial-gradient(at left top,#00fff0,#00d1ff,#3d6cb9);
    height:700px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
}
input{
    margin: 10px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: #fafaf6;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}

form
{
    border:2px solid #3d6cb9;
    border-radius: 5px;
    width:400px;
    height: 400px;
    margin-left:50px;
    margin-bottom:15px;
}
.site
{
    width:500px;
    height: 500px;
    margin:0 auto;
    border:1px solid #3d6cb9;
    border-radius: 5px;
    margin-top:80px;
}
.title{
    margin: 8px;
    text-align: center;
}
.name
{
    width:350px;
    height:30px;
}
.email
{
    margin-top:15px;
    width:350px;
    height:30px;
}
.website
{
    margin-top:15px; 
    display:block;
    width:350px;
    height:30px;
}
input[type="text"]
{
    margin-top:15px; 
    display:block;
    width:350px;height:30px;
}

.site__btn
{
    margin-left: 20%;
    width:200px;
    height:40px;
    background:#3d6cb9;
    color:#fafaf6;
    font-weight:bold;
    font-size: 20px;
    
    border: 2px solid #3d6cb9;
    
    border-radius: 10px;
    cursor: pointer;

    transition: background .2s  linear, color .2s linear;
}
input[type="submit"]:hover
{
    background:#fafaf6;
    color:#3d6cb9;
}

